<!DOCTYPE html>
<head lang="en">
    <meta charset="UTF-8">
    {% load staticfiles %}
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/styles.css" %}" rel="stylesheet" type="text/css">
    <link rel="icon" href="{% static "images/logo.png" %}" type="image/x-icon"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="wrapper">
    <header>
        <h1>Ricky Catron: Web Design</h1>
        <a onclick="dropdown()" class="dropdownbutton">
            <img src="{% static "images/threelines.png" %}" alt="Menu Icon">
        </a>
        <nav class="dropdown" id="nav">
            <a class="mobilelinks" href="/">Home</a>
            <a class="mobilelinks" href="/portfolio">Portfolio</a>
            <a class="mobilelinks" href="/blog">Blog</a>
            <a class="mobilelinks" href="/contact">Contact Me</a>
            {% if user.is_authenticated %}
                <a class="mobilelinks" href="/admin">Admin</a>
                <a class="mobilelinks" href="/logout">Logout</a>
            {% endif %}
        </nav>
    </header>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>
    <footer>
        <a href="https://github.com/sl33t">Github</a>
    </footer>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="{% static "js/script.js" %}"></script>
</body>
</html>