{% extends "base.html" %}


{% load staticfiles %}

{% block title %}
    Ricky Catron:Edit {{ item.title }}
{% endblock %}

{% block content %}
    <form class="edit" action="{% url 'portfolioedit' 1 %}" method="post" enctype="multipart/form-data">
        <h2>Portfolio Item</h2>
        {% csrf_token %}
        {{ form }}
        <button type="submit">Submit</button>
    </form>
{% endblock %}