{% extends "base.html" %}


{% load staticfiles %}

{% block title %}
    Ricky Catron: Home
{% endblock %}

{% block content %}
    <div class="aboutMe">
        <img src="{% static "images/ricky.jpg" %}" alt="A picture of me">

        <p>
            I am a web developer in the early stages of my career. I attend Rochester Institute of Technology
            as a Web and Mobile Computing major. In class I have learned about HTML, CSS, JavaScript, Design, Java, and
            PHP.
            On my own I like to write python web apps using the Flask or Django frameworks. Currently I am working to
            learn more about
            devops, automation, user experience, JavaScript, and its many frameworks. In addition to my web experiance I
            have worked in
            general IT as a Helpdesk Tech and I my team was featured in the local paper during high school for our work
            with the
            raspberry pi micro computer. Outside of work I like music, snowboarding, and cooking.
            Overall I am easger to start my career and continue to learn.
        </p>
    </div>
    <section class="skills">
        <div>
            <h2>The Front End</h2>
            <ul>
                <li>HTML</li>
                <li>CSS</li>
                <li>JavaScript</li>
                <li>JQuery</li>
            </ul>
        </div>
        <div>
            <h2>The Back End</h2>
            <ul>
                <li>Django</li>
                <li>Flask</li>
                <li>MySQL</li>
                <li>Postgres</li>
            </ul>
        </div>
    </section>
    {% if portfolioSnapshot %}
        <section class="portfolioSnapshot">
            <h2>A Glimpse of my Work</h2>
            <ul>
                {% for portfolioItem in portfolioSnapshot %}
                    <li>
                        <a href="{% url 'portfolio_item' portfolioItem.id %}">
                            <img src="{{ portfolioItem.main_image_url.medium.url }}" alt="{{ portfolioItem.title }}">

                            <h3>{{ portfolioItem.title }}</h3>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <a class="see_more" href="{% url 'portfolio' %}">See the full selection</a>
        </section>
    {% endif %}
{% endblock %}