{% extends "base.html" %}


{% load staticfiles %}

{% block title %}
    Ricky Catron:Home
{% endblock %}

{% block content %}
    <div class="aboutMe">
        <img src="{% static "images/ricky.jpg" %}" alt="A picture of me">

        <p>
            Personalization means a lot in the world of web development when so many people have switched to prebuilt
            templates, website builders, and outsourced companies who crank out hundreds of the same designs everyday only stopping
            to change the logo. Its the same as choosing a microwave dinner over a home cooked meal, everyone who sees and tastes it can
            tell the difference. None of my sites are like that and never will be. I build your sites from the ground up myself, optimizing
            them for you and your business. This personal human touch translates into my work and features which go above and beyond what
            an automated system can do. No more searching for plugins which might give you what you need. You simply describe what you need and
            we will work together to build your vision.
        </p>
    </div>
    <section class="skills">
        <div id="inner">
            <div>
                <h2>The Front End</h2>
                <ul>
                    <li>HTML5</li>
                    <li>CSS3</li>
                    <li>JavaScript</li>
                    <li>JQuery</li>
                    <li>Material Design</li>
                </ul>
            </div>
            <div>
                <h2>The Back End</h2>
                <ul>
                    <li>Django</li>
                    <li>Flask</li>
                    <li>MySQL</li>
                    <li>Postgres</li>
                </ul>
            </div>
        </div>
    </section>
    {% if portfolioSnapshot %}
        <section class="portfolioSnapshot">
            <h2>A Glimpse of my Work</h2>
            <ul>
                {% for portfolioItem in portfolioSnapshot %}
                    <li>
                        <a href="{% url 'portfolio_item' portfolioItem.id %}">
                            <img src="{{ portfolioItem.main_image_url.url }}" alt="{{ portfolioItem.title }}">

                            <h3>{{ portfolioItem.title }}</h3>
                        </a>
                    </li>
                {% endfor %}
            </ul>
            <a href="/portfolio/">See the full selection</a>
        </section>
    {% endif %}
{% endblock %}