{% extends "base.html" %}


{% load staticfiles %}

{% block title %}
    Ricky Catron:Login
{% endblock %}

{% block content %}
    <form action="/login/" method="post" class="login">
        {% csrf_token %}
        {{ loginForm }}
        <button type="submit">Login</button>
    </form>
{% endblock %}