{% extends "base.html" %}

{% load staticfiles %}

{% block title %}
    Ricky Catron: Portfolio - {{ item.title }}
{% endblock %}

{% block content %}
<div class="portfolioExpansion">
    <img src="{{ item.main_image_url.medium.url }}" alt="Main Website Image">

    <div class="explination">
        <h2>{{ item.title }}</h2>

        <p>{{ item.description }}</p>
    </div>
</div>
<ul class="portfolioExpansionList">
    <li><img src="{{ item.examples1.large.url }}" alt="Slideshow Image 1"></li>
    <li><img src="{{ item.examples2.large.url }}" alt="Slideshow Image 1"></li>
    <li><img src="{{ item.examples3.large.url }}" alt="Slideshow Image 1"></li>
</ul>
{% endblock %}