# Created by .ignore support plugin (hsz.mobi)
venv
*.pyc
staticfiles
.idea/*
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
RickyCatron/mediaserve/*
RickyCatron/staticserve/*