/******************
    General Rules
******************/
@import url(https://fonts.googleapis.com/css?family=Merriweather|Martel);

* {
    box-sizing: border-box;
    font-family: 'Martel', serif;
    font-size: 1.1rem;
    margin: 0;
    padding: 0;
}

html {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

a {
    color: #252525;
    font-weight: bold;
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    color: #212121;
    font-family: 'Merriweather', cursive;
    font-size: 1.5rem;
}

main {
    margin: auto;
    width: 94%;
    flex: 1;
}

p {
    color: #727272;
}

li {
    list-style-type: none;
}

form {
    border: .5rem solid rgba(182, 182, 182, .5);
    box-shadow: 0 0 1rem gray;
    padding: 1rem;
    width: 40%;
}

label {
    clear: left;
    float: left;
    padding: .2rem 0;
}

textarea {
    border: 2px inset;
    border-radius: .4rem;
    height: 5rem;
    padding: .2rem .5rem;
    resize: vertical;
    width: 100%;
}

input, select {
    border-radius: 1rem;
    width: 100%;
    padding: 0 .5rem;
}

button {
    background-color: #455A64;
    border: .2rem solid #607D8B;
    border-radius: .3rem;
    color: white;
    display: block;
    margin: .4rem auto 0;
    padding: .5rem;
    text-align: center;
}

button:active {
    box-shadow: inset 0 0 .1rem black;
}

/******************
    Message Rules
******************/

.messages_backdrop {
    background-color: rgba(0, 0, 0, .5);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

.messages {
    border: .1rem solid rgba(0, 0, 0, .5);
    box-shadow: 0 0 1rem .5rem rgba(0, 0, 0, .4);
    left: 25%;
    position: fixed;
    right: 25%;
    top: 10rem;
}

.messages_header {
    background-color: #455A64;
    overflow: auto;
    padding: .5rem;
}

.messages_header h3 {
    float: left;
}

.messages_header a {
    float: right;
    font-size: 1.3rem;
}

.error p {
    background-color: #b71c1c;
    color: #212121;
    padding: .2rem .5rem;
}

.info p {
    background-color: #1565C0;
    color: #212121;
    padding: .2rem .5rem;
}

/******************
    Header Rules
******************/

header {
    background-color: #607D8B;
    border-top: .75rem solid #455A64;
    box-shadow: 0 .25rem 2px -2px #B6B6B6;
    margin-bottom: 1rem;
}

header h1 {
    color: white;
    float: left;
    font-size: 1.7rem;
    padding: 1.6rem 0 .5rem .8rem;
}

/******************
    Nav Rules
******************/

nav {
    display: flex;
    float: right;
}

nav a {
    color: #CFD8DC;
    font-size: 1.3rem;
    padding: 1.9rem 1rem 1.1rem;
}

.dropdownbutton {
    display: none;
    float: right;
}

/*************************************************************
                        Index Rules
*************************************************************/

/****************
  About Me Rules
****************/
.aboutMe {
    background-color: rgba(255, 255, 255, .5);
    border: .3rem solid rgba(182, 182, 182, .5);
    margin-bottom: 1rem;
    overflow: auto;
}

.aboutMe img {
    box-shadow: .1rem .1rem 1rem .075rem rgba(182, 182, 182, .9);
    float: left;
    margin-right: 1rem;
}

.aboutMe p {
    font-size: 1.1rem;
    padding: 1.5rem;
}

.aboutMe a {
    text-decoration: underline;
}

/****************
    Skills Rules
****************/

.skills {
    background-color: #455A64;
    color: #CFD8DC;
    margin-bottom: 1rem;
    overflow: auto;
}

.skills h2 {
    color: white;
}

.skills div {
    float: left;
    padding: 1.5rem;
    width: 50%;
}

.skills ul {
    padding-top: .7rem;
}

.skills li {
    float: left;
    padding: .5rem 0 0 2rem;
    width: 50%;
}

/**************************
 Index Page Portfolio Rules
**************************/

.portfolioSnapshot {
    text-align: center;
}

.portfolioSnapshot h2 {
    margin-bottom: 1rem;
}

.portfolioSnapshot ul {
    display: flex;
    flex-wrap: wrap;
}

.portfolioSnapshot li {
    border: .1rem solid rgba(182, 182, 182, 1);
    box-shadow: 0 0 1rem .5rem rgba(182, 182, 182, .9);
    width: calc(94% / 3);
}

.portfolioSnapshot li:first-child {
    margin-right: 2%;
}

.portfolioSnapshot li:last-child {
    margin-left: 2%;
}

.portfolioSnapshot img {
    width: 100%;
}

.portfolioSnapshot h3 {
    padding: .5rem;
}

.see_more {
    float: left;
    padding: 1rem;
    width: 100%;
}

/*************************************************************
                        Porfolio Rules
*************************************************************/

.portfolio {
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.portfolio li {
    border: .1rem solid rgba(182, 182, 182, 1);
    box-shadow: 0 0 1rem .5rem rgba(182, 182, 182, .9);
    padding-bottom: .2rem;
    width: 49%;
}

.portfolio img {
    width: 100%;
}

.portfolio h3 {
    padding: .5rem;
}

/*************************************************************
                    Porfolio Individual Rules
*************************************************************/

.portfolioExpansion {
    background-color: rgba(255, 255, 255, .5);
    border: .3rem solid rgba(182, 182, 182, .5);
    overflow: auto;
}

.portfolioExpansion img {
    float: left;
    margin: 0 1rem 0 0;
    text-align: center;
}

.portfolioExpansion .explination {
    padding: .5rem;
}

.portfolioExpansion .explination a {
    text-decoration: underline;
}

.portfolioExpansionList {
    display: flex;
    margin-top: 2%;
}

.portfolioExpansionList li:first-child {
    margin-right: 2%;
}

.portfolioExpansionList li:last-child {
    margin-left: 2%;
}

.portfolioExpansionList li img {
    width: 100%;
}

/*************************************************************
                        Contact Rules
*************************************************************/

.contact {
    margin: 2% auto;
}

.contact h2 {
    margin-bottom: 1rem;
    text-align: center;
}

/*************************************************************
                        Footer Rules
*************************************************************/

footer {
    background-color: #607D8B;
    border-bottom: .3rem solid #455A64;
    border-top: .1rem solid #B6B6B6;
    display: flex;
    padding-top: .5rem;
    align-items: center;
    justify-content: center;
}

footer a {
    color: #CFD8DC;
}

/*************************************************************
                        Mobile Rules
*************************************************************/

@media (max-width: 1280px) {
    .aboutMe img {
        height: 12rem;
        width: 12rem;
    }

    .aboutMe p {
        font-size: 1rem;
    }
}

@media (max-width: 980px) {
    form {
        width: 96%;
    }

    header h1 {
        width: calc(100% - 4rem);
    }

    nav {
        border-top: .15rem solid #455A64;
        display: none;
        float: left;
        width: 100%;
    }

    nav a {
        float: left;
        text-align: center;
        width: 40%;
    }

    .dropdownbutton {
        display: block;
        margin: 1.3rem 1.2rem 0 0;
    }

    .dropdownbutton img {
        width: 2.5rem;
    }

    .dropdownbutton img:hover {
        cursor: pointer;
    }
}

@media (max-width: 768px) {
    .aboutMe img {
        height: auto;
        width: 50%;
    }

    .portfolioExpansion img {
        margin: 0 0 1rem 0;
        width: 100%;
    }

    .portfolioExpansionList {
        flex-wrap: wrap;
    }

    .portfolioExpansion li, .contact form, .portfolio li, .portfolioSnapshot li {
        margin-top: .5rem;
        width: 100%;
    }

    .skills div {
        width: 100%;
    }
}

@media (max-width: 320px) {
    .aboutMe img {
        height: auto;
        margin: 0;
        width: 100%;
    }

    .aboutMe p {
        float: none;
        width: 100%;
    }
}