/******************
    General Rules
******************/

@import url(https://fonts.googleapis.com/css?family=Merriweather|Martel);

body {
    background-image: url("../images/paper_fibers.png");
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Martel', serif;
}

a {
    text-decoration: none;
    color: #252525;
    font-weight: bold;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Merriweather', cursive;
    color: #212121;
}

p {
    color: #727272;
}

li {
    list-style-type: none;
}

form {
    background-color: rgba(255, 255, 255, .5);
    border: .5rem solid rgba(182, 182, 182, .5);
    border-radius: 1rem;
    box-shadow: 0 0 1rem gray;
    float: left;
    font-size: 1.2rem;
    padding: 1rem;
    width: 40%;
}

label {
    clear: left;
    float: left;
    padding: .2rem 0;
}

textarea {
    border: 2px inset;
    border-radius: .4rem;
    font-size: 1.2rem;
    height: 5rem;
    padding: .2rem;
    width: 100%;
    resize: vertical;
}

input, select {
    border-radius: 1rem;
    font-size: 1.2rem;
    width: 100%;
}

button, .btn {
    background-color: #FF5722;
    border: .2rem solid #E64A19;
    border-radius: .3rem;
    box-shadow: 0 0 1rem #B6B6B6;
    color: white;
    display: block;
    font-size: 1.2rem;
    margin: .4rem auto 0;
    padding: .5rem;
    text-align: center;
    width: 6rem;
}

.btn {
    float: left;
    margin: 2% .5% !important;
    width: 49% !important;
}

button:active {
    box-shadow: inset 0 0 .1rem black;
}

.wrapper {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
}

/******************
    Header Rules
******************/

header {
    background-color: #FF5722;
    border-top: .75rem solid #E64A19;
    box-shadow: 0 .25rem 2px -2px #B6B6B6;
    margin-bottom: 1rem;
    overflow: auto;
}

header h1 {
    color: white;
    float: left;
    padding: 1.6rem 0 .5rem .8rem;
    font-size: 1.7rem;
}

/******************
    Nav Rules
******************/

nav {
    float: right;
}

nav a {
    color: #FFCCBC;
    float: left;
    font-size: 1.3rem;
    padding: 1.9rem 1rem 1.1rem;
}

.dropdownbutton {
    display: none;
    float: right;
}

.active {
    background-color: rgba(0, 0, 0, .05)
}

/*************************************************************
                        Index Rules
*************************************************************/

/****************
  About Us Rules
****************/
.aboutMe {
    background-color: rgba(255, 255, 255, .5);
    border: .3rem solid rgba(182, 182, 182, .5);
    display: block;
    margin: 0 auto 1rem auto;
    overflow: auto;
    width: 85%;
}

.aboutMe img {
    box-shadow: .1rem .1rem 1rem .075rem rgba(182, 182, 182, .9);
    float: left;
    height: 100%;
    margin-right: 1rem;
}

.aboutMe p {
    font-size: 1.1rem;
    height: 100%;
    padding: 1.5rem;
}

/****************
    Skills Rules
****************/

.skills {
    margin-bottom: 1rem;
    background-color: #E64A19;
    overflow: auto;
    color:#FFCCBC;
}

#inner {
    width: 50%;
    margin: 1rem 25%;
    display: table;
}

.skills h2 {
    color: white;
}

.skills div {
    display: table-cell;
}

.skills li {
    padding: .5rem 0 0 2rem;
}


/**************************
 Index Page Portfolio Rules
**************************/

.portfolioSnapshot h2, .portfolioSnapshot ul {
    text-align: center;
}

.portfolioSnapshot li {
    display: inline-block;
    float: left;
    margin: .5rem calc(24% / 6);
    width: 25%;
}

.portfolioSnapshot a {
    float: left;
    text-align: center;
    width: 100%;
}

.portfolioSnapshot img {
    border: .1rem solid rgba(182, 182, 182, 1);
    box-shadow: 0 0 1rem .5rem rgba(182, 182, 182, .9);
    width: 100%;
}

/*************************************************************
                        Porfolio Rules
*************************************************************/

.portfolio {
    width: 100%;
}

.portfolio li {
    float: left;
    height: 13rem;
    margin: 2%;
    padding: 0;
    width: calc(88% / 3);
}

.portfolio img {
    box-shadow: 0 0 1rem .5rem rgba(182, 182, 182, .9);
    height: 100%;
    width: 100%;
}

.portfolioExpansion {
    clear: both;
}

.portfolioExpansion img {
    box-shadow: 0 0 1rem .5rem rgba(182, 182, 182, .9);
    float: left;
    height: 15rem;
    margin: 2%;
    width: 40%;
}

.portfolioExpansion ul {
    float: left;
    margin: 2%;
    width: 96%;
}

.portfolioExpansion li {
    display: inline-block;
    height: 12rem;
    margin: 1%;
    width: calc(90% / 3);
}

.portfolioExpansion li img {
    font-size: 1.5rem;
    height: 100%;
    text-align: center;
    width: 100%;
}

.portfolioExpansion .explination {
    background-color: rgba(255, 255, 255, .5);
    border: .3rem solid rgba(182, 182, 182, .5);
    float: right;
    height: 15rem;
    margin: 2%;
    padding: 2rem;
    width: 50%;
}

.portfolioExpansion h2 {
    margin-top: -1rem;
    text-align: center;
}

.portfolioExpansion p {
    font-size: 1.2rem;
    margin: .5em;
}

/*************************************************************
                        Contact Rules
*************************************************************/

.contact {
    margin: 2% 30%;
}

.contact h2 {
    margin-bottom: 1rem;
    text-align: center;
}

/*************************************************************
                        Edit Rules
*************************************************************/

.edit {
    margin: 2% 30%;
}

/*************************************************************
                        Login Rules
*************************************************************/

.login {
    margin: 2% 30%;
}

/*************************************************************
                        Blog Rules
*************************************************************/

.blog ul {
    width: 100%;
}

.blog li {
    background-color: rgba(255, 255, 255, .5);
    box-shadow: 0 0 1rem .5rem rgba(182, 182, 182, .9);
    float: left;
    height: 27rem;
    margin: 2%;
    padding: 0;
    width: calc(88% / 3);
}

.blog img {
    border-bottom: .1rem solid rgba(182, 182, 182, .5);
    height: 13rem;
    width: 100%;
}

.blog h2 {
    padding-top: .5em;
    text-align: center;
}

.blog p {
    font-size: 1.1em;
    padding: 1em;
}

.blogPost {
    background-color: rgba(255, 255, 255, .5);
    border-radius: 1rem;
    box-shadow: 0 0 1rem .5rem rgba(182, 182, 182, .9);
    float: left;
    margin: 1% 20%;
    width: 60%;
}

.blogPost img {
    border-bottom: .1rem solid rgba(182, 182, 182, .5);
    border-radius: 1rem 1rem 0 0;
    height: 12rem;
    width: 100%;
}

.blogPost h2 {
    margin: .5em;
    text-align: center;
}

.blogPost p {
    padding: 1rem;
}

/*************************************************************
                        Admin Rules
*************************************************************/

.adminForm {
    margin: 2% 5%;
}

.adminList li {
    background-color: rgba(255, 255, 255, .5);
    border: .5rem solid rgba(182, 182, 182, .5);
    border-radius: 1rem;
    box-shadow: 0 0 1rem gray;
    float: left;
    font-size: 1.2rem;
    margin: 2% .5%;
    padding: 1rem;
    width: 24%;
}

.adminList img {
    height: 12rem;
    width: 100%;
}

.adminList h2 {
    clear: both;
    text-align: center;
}

/*************************************************************
                        Footer Rules
*************************************************************/

footer {
    display: table;
    border-top: .1rem solid #B6B6B6;
    background-color: #FF5722;
    border-bottom: .3rem solid #E64A19;
    width: 100%;
    float: left;
    padding-top: .5rem;
}

footer a {
    display: table-cell;
    color: #FFCCBC;
    text-align: center;
}

/*************************************************************
                        Mobile Rules
*************************************************************/

@media (max-width: 1280px) {
    .aboutMe {
        height: auto;
        width: 90%;
    }

    .aboutMe img {
        height: 12rem;
        width: 12rem;
    }

    .aboutMe p {
        font-size: 1rem;
    }

    .blog li {
        height: 32rem;;
    }
}

@media (max-width: 980px) {
    form {
        margin: 2% !important;
        width: 96% !important;
    }

    header h1 {
        width: calc(100% - 4rem);
    }

    nav {
        border-top: .15rem solid #E64A19;
        display: none;
        float: left;
        width: 100%;
    }

    nav a {
        float: left;
        text-align: center;
        width: 50%;
    }

    .dropdownbutton {
        display: block;
        margin: 1.3rem 1.2rem 0 0;
    }

    .dropdownbutton img {
        width: 2.5rem;
    }

    .content {
        min-height: calc(100% - 10.75rem);
    }

    .portfolio li {
        margin: 2%;
        width: 46%;
    }

    .blog li {
        height: 38rem;;
    }

    .adminList li {
        width: 49%;
    }
}

@media (max-width: 768px) {

    .skills li {
        margin: 1%;
    }

    .portfolioExpansion img, .portfolioExpansion .explination, .portfolioExpansion li, .blogPost, .contact form, .twitter, .portfolio li, .blog li, .portfolioSnapshot li {
        display: block;
        float: left;
        height: auto;
        margin: .5rem 2%;
        width: 96%;
    }
}

@media (max-width: 320px) {
    .aboutMe {
        height: auto;
        width: 95%;
    }

    .aboutMe img {
        height: auto;
        margin: 0;
        width: 100%;
    }

    .aboutMe p {
        float: none;
        font-size: 1rem;
        width: 100%;
    }

    .adminList li {
        width: 99%;
    }

}